* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
button {
  padding: 1rem 2.5rem;
  border: none;
  color: white;
  font-size: 1rem;
  background-color: #4c6e97;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.shortcuts {
  list-style-type: none;
  float: right;
  padding: 25px;
}
ul li {
  display: inline-block;
  margin-right: 100px;
  font-size: 20px;
}
.heder {
  width: 100%;
  height: 80px;
  background-color: green;
}
.ime {
  font-family: "Pattaya", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 20px;
  display: inline-block;
  margin-left: 65px;
  font-size: 27px;
}
.heder {
  position: fixed;
  background-color: #131c27;
  z-index: 1;
}
.start {
  min-height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), transparent),
    url(./img/mountain_waterfall.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 3px 3px 10px black;
}
.slogan {
  font-size: 44px;
}
.opis {
  padding: 25px;
  font-weight: 400;
  font-size: 27px;
}
